@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* location started  */
.location-header {
  -webkit-text-stroke: 1px #3b2d60;
  color: transparent;
}

/* location ended  */

/* about page started */
.about-bg {
  background-image: url("../src/assets/images/about/about-bg.png");
}
.count-bg {
  background-image: url("../src/assets/images/about/count-bg.png");
}
/* about page ended */


/* Contact page started  */
.contact-bg{
  background-image: url("./assets/images/contact/contact.png");
}
/* Contact page ended  */

/* .accordion career started */
.accor-content{
  animation: animate 0.2s linear backwards;
  transform-origin: top;
  font-family: "Poppins";
  font-size: 16px;
  color: #808c9d;
  font-weight: 400;
  line-height: 140%;
}
@keyframes animate {
  0% {
    transform: scaleY(0);
  }
}


/* .scroll-bar {
} */
.scroll-bar::-webkit-scrollbar {
  height: 3px;
}
.scroll-bar::-webkit-scrollbar-track {
  border-radius: 50px;
  background: #cecece;
}
.scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #e46d8c;
}
